/*
  Custom Styling Sheet created by Steve Hanlon on 7/29/17 for Git Cheat Sheet accordian.
*/

/*-----------------------------
            General
-------------------------------*/
body {
    margin: 3%;
    background-color: #72A42B;
}

p {
    margin: 15px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

/*-----------------------------
        Page heading
-------------------------------*/

#page-heading {
    font-family: "Muli", sans-serif;
    font-size: 4em;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 45%;
    border: 1px solid black;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25px;
}

.intro ul {
    margin-top: 20px;
}

.intro span {
    margin-left: 20px;
}

/*-----------------------------
       Accordian text
-------------------------------*/
.list-heading {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #F1A520;
}

ol {
    list-style: square;
    margin-bottom: 20px;
}

